-no_border ||= false
%li.notification{:class => "#{notification.read? ? '' : 'unread'}#{no_border ? 'no-border' : ''}"}
  .notification-wrapper
    =link_to_notification_image(notification)
    .notification-inner
      =link_to_notification_user_message(notification)
      -if notification.resource_text.present?
        %p.notification-summary
          =truncate(notification.resource_text, :length => 90)
      -else
        %br
      =link_to_notification_resource(notification)
    %span.notification-time
      ="#{time_ago_in_words(notification.created_at)} ago"
